duc_se.pth
yolov3-spp.weights
.vagrant/
*.log
package-lock.json
node_modules/
dist/
dist
.idea
/prototype/kinect-api/cmake-build-debug/
/prototype/kinect-api/build/
/prototype/opengl-frontend/cmake-build-debug/
*/build
*.obj
*.fbx
*.mtl
*.jpg
*.tif
*.tga
*.md5anim
*.md5mesh
*.dae
*.blend
*.blend1
*.xlsx
*/libs/
.Rproj.user
studies/research/*
